body{
    background-color: hsl(216, 12%, 8%);
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;

} 
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-left: 10%;
}
.card{
    width: 350px;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    border-radius: 20px;
}
.btn-container button{
    padding: 15px;
    height: 40px;
    background-color: hsl(212, 17%, 20%);
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 5px;
    color: hsl(217, 12%, 63%);
}
/* hover state*/
.submit-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}
.btn-container button:hover{
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}
/* active state*/
.btn-container{
    margin-bottom: 10px;
}
.btn-container button:active{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
.content{
    padding: 10px;
}
.submit-btn{
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background:  hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
.card-header img{
    background-color: hsl(212, 17%, 20%);
    border-radius: 50%;
    padding: 20px;
}
.hide{
    display: none;
}

@media screen and (min-width: 400){
    .container{
        width: 300px;
        margin: 5px 5px 5px 5px;
    }
}